/* css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

.hide{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(236, 235, 235);
}

.container{
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    position: relative;
}

.slides{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid black;
    padding: 20px;
}

.next{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.previous{
    position: absolute;
    top: 30px;
    transform: translateX(-50%);
    left: 50%;
}

.next, .previous{
    font-size: 30px;
    background-color: lightgrey;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    opacity: .7;
    transition: 0.5s;
}

.next:hover, .previous:hover{
    background-color: white;
    opacity: .9;
}

.thumbnails-box{
    width: 10%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.mini{
    width: 100%;
    height: 20%;
    object-fit: cover;
    border: 1px solid black;
    filter: brightness(.3);
}

.thumb-active{
    filter: brightness(1);
    border: 3px solid lightgrey;
}